body {
  counter-reset: section; }

  *, *::before, *::after {
    box-sizing: border-box; }

    .nav {
      background-color: #174c85;
      margin: 0;
      padding: 0; }

      .nav-item {
        display: inline-block;
        padding: 20px 50px 16px 40px; }
        .nav-item:hover {
          background-color: #113965; }
          .nav-item a {
            color: #fff;
            text-decoration: none;
            text-transform: uppercase; }
            .nav-item.current {
              background-color: #113965;
              position: relative; }
              .nav-item.current::before {
                background-color: #2d92ff; }
                .nav-item.current::after {
                  position: absolute;
                  top: 0;
                  right: -20px;
                  width: 0;
                  height: 0;
                  border-top: 33px solid transparent;
                  border-bottom: 33px solid transparent;
                  border-left: 20px solid #113965;
                  content: ''; }
                  .nav-item::before {
                    counter-increment: section;
                    content: counter(section);
                    border-radius: 50%;
                    background: #5078A3;
                    width: 30px;
                    height: 30px;
                    display: inline-block;
                    padding-left: 11px;
                    padding-top: 6px;
                    vertical-align: middle;
                    margin-right: 20px;
                    color: #fff; }
